# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Generated data and outputs
data/processed/
data/results/

APAC H225 Internship Case Study.pdf
APAC H225 Internship Case Study Dataset.xlsx
data/raw/dataset.xlsx

.DS_Store
.vscode/
.idea/